* {
  font-family: "Inter", sans-serif;
}

@font-face {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 100 900;
  src: url("../fonts/Inter-VariableFont_opsz,wght.woff2") format("woff2");
}

@font-face {
  font-family: "Inter", sans-serif;
  font-style: italic;
  font-weight: 100 900;
  src: url("../fonts/Inter-Italic-VariableFont_opsz,wght.woff2") format("woff2");
}

/* Newsreader Normal */
@font-face {
  font-family: "Newsreader";
  font-style: normal;
  font-display: swap;
  font-weight: 100 900;
  src: url("../fonts/Newsreader-VariableFont_opsz,wght.woff2") format("woff2");
}

/* Newsreader Italic */
@font-face {
  font-family: "Newsreader";
  font-style: italic;
  font-display: swap;
  font-weight: 100 900;
  src: url("../fonts/Newsreader-Italic-VariableFont_opsz,wght.woff2")
    format("woff2");
}

@font-face {
  font-family: "stratos-bold";
  font-style: italic;
  font-display: swap;
  font-weight: 900;
  src: url("../fonts/stratos-bold.woff2") format("woff2");
}

@font-face {
  font-family: "HKGrotesk-Regular";
  font-style: italic;
  font-display: swap;
  font-weight: 900;
  src: url("../fonts/HKGrotesk-Regular.woff2") format("woff2");
}
