:root {
  --headerHeight: 62px;
}

.reviewsScreenMobile {
  display: none;
  padding-bottom: 12px;
}

.burgerMenu {
  display: none;
  box-sizing: border-box;
  flex-direction: column;
  position: fixed;
  width: 100vw;
  height: 100svh;
  background-color: var(--white);
  z-index: 999999999999;
  top: var(--headerHeight);
  font-family: "Inter", sans-serif;
  text-transform: uppercase;

  a,
  li {
    font-size: 16px;
    text-decoration: none;
    color: var(--black);
  }

  li,
  div {
    padding: 22px 12px;
    border-bottom: solid 1px var(--gray);
  }
}

div.burgerDropDown {
  background-image: url("/images/dropDownIconResponsive.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transform: rotate(-180deg);
  width: 25px;
  height: 20px;
  border-bottom: 0px;
  padding: 0;
}

.burgerItemWrap {
  display: flex;
  justify-content: space-between;
}

.burgerContact {
  background-color: var(--black);

  a,
  li {
    color: var(--white);
  }
}

.photosBurgerDropDown,
.videosBurgerDropDown {
  display: none;
  flex-direction: column;
}

.navMobile {
  display: none;
  mix-blend-mode: normal;
  width: 100vw;
  height: var(--headerHeight);
  background-color: var(--white);
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
  a,
  p {
    color: var(--black);
    font-family: "Inter", sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
  }

  a:hover {
    font-size: 16px;
  }
}

.closeIcon {
  background-image: url("/images/closeIconResponsive.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 26px;
  aspect-ratio: 1;
}

.burgerIcon {
  background-image: url("/images/burgerIconResponsive.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 26px;
  aspect-ratio: 1;
}

@media (max-width: 768px) {
  * {
    cursor: auto;
  }

  .cursor {
    display: none;
  }

  nav,
  nav.navBG,
  nav.navTransparent {
    display: none;
  }
  nav.navMobile {
    display: flex;
  }

  .Active {
    display: flex;
  }

  .ActiveNav {
    border-bottom: solid 1px var(--gray);

    .burgerIcon {
      background-image: url("/images/closeIconResponsive.svg");
    }
  }

  .kamilla {
    top: calc(var(--headerHeight) + 44px);
    left: -58px;
    width: 194px;
    height: 232px;
  }

  .firstScreen {
    height: 376px;
    margin-bottom: 25px;
  }

  .description {
    flex-direction: column;
    top: 161px;
    left: 0;
    width: 100vw;
    padding: 0 12px;
    box-sizing: border-box;
  }

  .menu {
    font-size: 32px;
    min-width: 226px;
    text-align: right;
  }

  .infoWrap {
    gap: 38px;
    p {
      font-size: 10px;
    }
  }

  .topRowList {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }

  body {
    padding-top: 66px;
  }

  .heroText {
    h1 {
      letter-spacing: -1.113px;
    }
  }

  .and {
    top: 100px;
    left: 56px;
    width: 41px;
  }

  .textStart {
    margin-right: 12px;
    h2 {
      font-size: 20px;
      width: 100vw;
      max-width: none;
      color: var(--black);
      text-indent: 20%;
      text-align: justify;
      margin-left: 12px;
    }
  }

  .secondScreen {
    margin-bottom: 52px;
  }

  .carouselImg {
    width: 63.104vw;
  }
  .carouselLine {
    gap: 3.053vw;
  }

  h2 {
    font-size: 20px;
  }

  .fourthScreen {
    min-height: calc(100vh - var(--headerHeight));
    h1 {
      font-size: 57px;
      letter-spacing: -1.695px;
      line-height: 100%;
    }
  }

  .goUp {
    width: 42px;
    height: 42px;
    font-size: 20px;
    flex-shrink: 0;
    margin-bottom: 24px;
  }

  .bookAShootWrap {
    width: 184px;
    height: 42px;
  }

  .bookAShoot {
    font-size: 16px;
    padding: 12px 18px 15px 18px;

    span {
      margin-bottom: 3px;
      margin-left: 6px;
    }
  }

  .marqueeFooter {
    font-size: 32px;
    padding: 12px 0px;
  }

  .footerDesignedBy {
    padding: 24px 12px 24px 12px;
    p {
      font-size: 10px;
    }
  }

  .reviewsScreenMobile {
    display: flex;
    .reviewsCarousel {
      gap: 14px;
      flex-direction: column;
    }
  }

  .reviewsScreen {
    display: none;
  }

  .reviewCard {
    padding: 32px 12px;
    min-width: 0px;
    height: 262px;
    p {
      font-size: 16px;
      line-height: 130%;
    }

    .reviewCardTop {
      gap: 24px;

      .starsWrap {
        gap: 3px;

        .star {
          width: 13px;
          height: 12px;
        }
      }
    }
  }
}
