* {
  cursor: none !important;
}

body {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding-top: 100px;
  position: relative;
  overflow-x: hidden;
  /* transform-style: preserve-3d; */
}

.cursor {
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: 999999999;
  mix-blend-mode: difference;
  pointer-events: none;
  transition: width 0.3s ease, height 0.3s ease;
}

.cursor.cursor-large {
  width: 60px;
  height: 60px;
}

.outer {
  background-color: var(--white);
}

.inner {
  background-color: var(--white);
}

nav.navBG {
  *:not(
      .dropDownPhotos,
      .dropDownPhotos > ul,
      .dropDownPhotos > ul > li,
      .dropDownPhotos > ul > li > a
    ) {
    opacity: 0 !important;
  }
}

nav {
  mix-blend-mode: difference;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 96px;
  z-index: 100;
  padding: 0 3.516vw;
  box-sizing: border-box;

  ul {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    height: 100%;

    font-family: "Inter", sans-serif;

    font-size: 0.938vw;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
  }

  a,
  p {
    position: relative;
    text-decoration: none;
    color: var(--white);

    &:hover {
      font-family: "Newsreader", sans-serif;
      font-size: 0.938vw;
      font-style: italic;
      font-weight: 800;
      line-height: normal;
      text-transform: uppercase;

      .arrowLink {
        top: -0.4vw;
        right: -1.1vw;
      }
    }
  }
}

.arrowLink {
  position: absolute;
  top: -0.117vw;
  right: -1.1vw;
}

.leftNav {
  display: flex;
  align-items: center;
  gap: 1.406vw;
  position: relative;

  & > :first-child {
    min-width: 5.625vw;
  }

  & > :nth-child(2) {
    min-width: 4.063vw;
  }
}

.midNav {
  display: flex;
  align-items: center;
  gap: 36px;
}

.navContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 33.5vw;
}

.heroText {
  h1:first-child {
    margin-left: 2.734vw;
  }
  h1:last-child {
    margin-top: -2.734vw;
    margin-right: 3.594vw;
    width: fit-content;
  }
}

.titleWrap {
  display: flex;
  justify-content: flex-end;
}

.kamilla {
  position: absolute;
  top: 11.797vw;
  left: -0.703vw;
  z-index: 1;
  background-image: url("/images/landing/kamilla.png");
  background-size: cover;
  width: 23.359vw;
  height: 27.891vw;
}

.and {
  position: absolute;
  top: 11.172vw;
  left: 13.672vw;
  width: 11.641vw;
}

/* .trail-container */
.firstScreen {
  height: 40.625vw;
  /* height: 85svh; */
  overflow: hidden;
}

.secondScreen {
  /* height: 100svh; */
  overflow: hidden;
  /* margin-top: 42svh; */
  /* margin-top: 20vw; */
  margin-bottom: 4vw;
}

/* cursor trail */

.trail-img {
  position: absolute;
  width: 7.813vw;
  /* height: 200px; */
  object-fit: cover;
  transform-origin: center;
  pointer-events: none;
  will-change: transform;
  z-index: 2;
}

/* carousel */

.carousel {
  overflow: hidden;
  width: 100%;
  position: relative;
}

.carouselLine {
  display: flex;
  animation: scroll-left 15s linear infinite;
  min-width: 100vw;
  gap: 0.781vw;
}

.carouselImg {
  width: 26.563vw;
  height: auto;
  object-fit: cover;
  flex-shrink: 0;
}

@keyframes scroll-left {
  to {
    transform: translateX(
      calc(calc(calc(26.563vw * 5) + calc(0.781vw * 4.5)) * -1)
    ); /* Сдвиг на половину + половина gaps */
  }
}

.description {
  position: absolute;
  top: 25.781vw;
  left: 31.406vw;
  display: flex;
  width: 65.156vw;
  /* justify-content: space-between; */
  gap: 8.906vw;
}

.infoWrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  p {
    color: var(--gray);
    font-family: "Inter", sans-serif;
    text-transform: uppercase;
    font-size: 0.938vw;
  }
}

.infoRow {
  display: flex;
  justify-content: space-between;
}

.topRowList {
  text-align: right;
}

.menu {
  font-family: "Newsreader", sans-serif;
  font-weight: 500;
  font-size: 3.516vw;
  min-width: 21vw;
  a {
    text-decoration: none;
    color: var(--black);
    &:hover {
      font-weight: 800;
      font-style: italic;
    }
  }
}

.bigImgWrap {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 100px;
  transform-style: preserve-3d;
  position: relative;
  height: 150vh;
  transform: translateZ(-50px);
}

.bigImg {
  width: 50vw;
  height: 90svh;
  background-image: url("/images/3D/img1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
}

.thirdScreen {
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  min-height: 110vh;
}

.fourthScreen {
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  min-height: 200vh;
  background-color: var(--black);

  h1 {
    color: var(--white);
  }
}

.dropDownPhotos {
  position: relative;

  ul {
    top: 39px;
    background-color: red;
    position: absolute;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    height: auto;
    width: 342px;
    padding: 10px 26px;
    margin-left: -26px;
  }

  li {
    align-items: center;
    justify-content: center;
  }
}

.marqueeFooter {
  background-color: var(--white);
  color: var(--black);
  p {
    &:hover {
      font-family: "Newsreader", sans-serif;
      font-size: 0.938vw;
      font-style: italic;
      font-weight: 800;
      line-height: normal;
      text-transform: uppercase;

      .arrowLink {
        top: -0.4vw;
        right: -1.1vw;
      }
    }
  }
}
